.DS_Store
.vscode
.idea
.env
/out
/foundry/out
/artifacts
/node_modules
/foundry/node_modules
/typechain
/cache
/foundry/cache
/frontend/node_modules
/frontend/build
# solidity-coverage files
/coverage
/coverage.json
package-lock.json
# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/