.vote-contaier{
    width: 100%;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: center;
}

.vote-bar{
    .summary-section{
        margin-bottom: 20px;
    }
}